body, td, div
{
	font-family: Tahoma;
	font-color : #666666;
	font-size  : 12px;
	font-weight: bold
}

.brd 
{
	border: 1px solid #CCCCCC;background-color: #FFFFFF;
}

.mg
{
	margin: 5px;
}

#returned_value
{
	text-align:center;
	font-size:12px;
	color:#000000
}

#go, input{
	border:1px solid #CCCCCC;
	background:#FFF
}

.style22
{
	text-align: left;
}